{erl_opts, [debug_info]}.
{deps, [
%%  {riak_core_ng, {git, "https://github.com/rbenaley/riak_core_ng.git", {branch, "fifo-merge"}}},
    {riak_core_lite, "0.10.4"},
    {erocksdb, "0.4.1"}
%%  {cowboy, "2.9.0"},
%%  {jsx, "3.1.0"},
%%  {lager, "3.9.2"},
%%  {exometer_core, "1.6.2"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [otp_kafka]}
]}.
